@import '../../theme.less';

.one-tree-planted {
	/* One Tree Planted Intro Section */
	.intro-container {
		padding: @section-padding;
		background-color: @section-background;
		min-height: 566px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}
	}
}
