@import '../../theme.less';

.faq {
	/* FAQ Intro Section */
	.intro-container {
		padding: @section-padding;
		background-color: @section-background;
		min-height: 357px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}
	}

	/* FAQ Hire Section */
	.hire-container {
		padding: @section-padding;
		min-height: 3512px;

		.title {
			font-size: 35px;
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}

		.content {
			.ant-card {
				background-color: transparent;
				margin-bottom: @margin-4;
			}
		}
	}
}
