# ReCaptcha
NEXT_PUBLIC_RECAPTCHA_KEY=
RECAPTCHA_SECRET=

# Mailer
MAIL_HOST=
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USER=
MAIL_PWD=

# Google Tag Manager
NEXT_PUBLIC_GTM_ID=

# AWS IAM User Credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

# AWS DynamoDB
TBL_STATES=States
TBL_COUNTIES=Counties
TBL_COMMUNITIES=Communities
IND_STATE=StateSlugCountyIndex
IND_COUNTY=CountySlugCommunityIndex
DEF_STATE=pennsylvania
DEF_COUNTY=bucks
DEF_COUNTY_LBL=Bucks
NEXT_PUBLIC_DEF_STATE=$DEF_STATE
NEXT_PUBLIC_DEF_COUNTY=$DEF_COUNTY
NEXT_PUBLIC_DEF_COUNTY_LBL=$DEF_COUNTY_LBL

# PostgreSQL
PG_HOST=
PG_PORT=5432
PG_DB=
PG_USER=
PG_PWD=