@import '../../theme.less';

.fire-claims {
	/* Fire Claims Intro Section */
	.intro-container {
		padding: @section-padding;
		background-color: @section-background;
		min-height: 870px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}

		.content {
			span {
				font-weight: bold;
			}
		}
	}

	/* Fire Claims FAQ Section */
	.faq-container {
		padding: @section-padding;
		min-height: 1147px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}

		.content {
			.ant-card {
				background-color: transparent;
				margin-bottom: @margin-4;
			}
		}
	}

	/* Damage Section */
	.damage-container {
		background-color: @section-background;
		min-height: 649px;

		.content {
			.ant-col {
				.block {
					.btn-wrapper {
						.app-btn-lg {
							min-width: 267px;
						}
					}
				}
			}
		}
	}

	/* Fire Claims Fire Resources Section */
	.fire-resources-container {
		padding: @section-padding;
		background-color: @section-background;
		min-height: 459px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}
	}
}
