<div
    style="text-align:center; margin: 0 auto 50px;min-width: 320px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent; padding: 0px;">

    <img align="center" border="0" src="https://aciadjustment.com/_next/image?url=%2Fimages%2Flogo.png&w=128&q=100"
        alt="Logo" title="Logo Image"
        style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;border: none;height: auto;float: none;width: 100%;max-width: 204px;"
        width="204" class="v-src-width v-src-max-width" />

</div>