option_settings:
  aws:elasticbeanstalk:application:environment:
    NEXT_PUBLIC_RECAPTCHA_KEY:6LdBng8aAAAAAGGqMupTbrDKxXBEhLUrEexgXk60
    RECAPTCHA_SECRET:6LdBng8aAAAAANSgEkLGfEbuuJWvxjN0fcWORLO-
    MAIL_HOST:smtppro.zoho.com
    MAIL_PORT:465
    MAIL_SECURE:true
    MAIL_USER:claims@aciadjustment.com
    MAIL_PWD:ACI123aci
    NEXT_PUBLIC_GTM_ID:G-BS5019J7PL
    AWS_ACCESS_KEY_ID:AKIAT7MKN5AABGWFDS2F
    AWS_SECRET_ACCESS_KEY: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
    AWS_REGION:us-east-1
    TBL_STATES:States
    TBL_COUNTIES:Counties
    TBL_COMMUNITIES:Communities
    IND_STATE:StateSlugCountyIndex
    IND_COUNTY:CountySlugCommunityIndex
    DEF_STATE:pennsylvania
    DEF_COUNTY:bucks
    DEF_COUNTY_LBL:Bucks
    NEXT_PUBLIC_DEF_STATE:$DEF_STATE
    NEXT_PUBLIC_DEF_COUNTY:$DEF_COUNTY
    NEXT_PUBLIC_DEF_COUNTY_LBL:$DEF_COUNTY_LBL