<p>Hello {{firstName}} {{lastName}},</p>

<p>Thank you for contacting ACI Adjustment Group. One of our representative will contact you within the next 24 hours. If you do not receive a call, please call 1-800-809-4302.</p>