@import '../theme.less';

.about-us {
	/* About Us Intro Section */
	.intro-container {
		padding: @section-padding;
		background-color: @section-background;
		min-height: 357px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}
	}

	/* About Us Values Section */
	.values-container {
		padding: @section-padding;
		min-height: 357px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}
	}

	/* About Us History Section */
	.history-container {
		padding: @section-padding;
		background-color: @section-background;
		min-height: 357px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}
	}

	/* About Us Future Section */
	.future-container {
		padding: @section-padding;
		min-height: 382px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}
	}

	/* Awards Section */
	.award-container {
		background-color: @section-background;
	}
}
