@import '../theme.less';

.blog {
	/* About Us Intro Section */
	.posts-container {
		padding: @section-padding;
		background-color: @section-background;
		min-height: 357px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}
		.content {
			.ant-card {
				.ant-card-meta-title {
					overflow: unset;
					white-space: normal;
				}

				.ant-card-meta-description {
					margin-bottom: @margin-3;
				}
			}
		}
	}
}
