@import '../theme.less';

.careers {
	/* Careers Intro Section */
	.careers-container {
		padding: @section-padding;
		background-color: @section-background;
		min-height: 665px;

		.careers-title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}
	}

	/* Careers Form Section */
	.careers-form {
		padding: @section-padding;
		min-height: 1275px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}

		.description {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}
	}
}
