@import '../theme.less';

.communities {
	/* Communities Intro Section */
	.communities-container {
		padding: @section-padding;
		background-color: @section-background;
		min-height: 357px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}

		.ant-card {
			.ant-card-body {
				background-color: @primary-color;

				.ant-card-meta-title {
					color: @white;
				}
			}
		}
	}

	/* Communities Detail Intro Section */
	.comm-intro-container {
		padding: @section-padding;
		min-height: 505px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}
	}

	/* Communities Detail Inspection Section */
	.comm-inspection-container {
		padding: @section-padding;
		min-height: 496px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}

		.content {
			span {
				font-weight: bold;
				color: @primary-color;
			}
		}
	}

	/* Communities Detail Video Section */
	.video-container {
		padding: 0 50px;
		min-height: 396px;
	}

	/* Communities Detail Why Choose Section */
	.why-choose-container {
		padding: @section-padding;
		min-height: 463px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}

		.content {
			li {
				margin-bottom: @margin-1;

				span {
					font-weight: bold;
				}
			}
		}
	}

	/* Communities Detail Ranked Section */
	.ranked-container {
		padding: @section-padding;
		min-height: 512px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}
	}
}
