@import '../theme.less';

.communities {
	/* Communities Intro Section */
	.communities-container {
		padding: @section-padding;
		background-color: @section-background;
		min-height: 357px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}

		.ant-card {
			.ant-card-body {
				background-color: @primary-color;

				.ant-card-meta-title {
					color: @white;
				}
			}
		}
	}

	/* Communities Detail Intro Section */
	.comm-intro-container {
		padding: 25px 50px;
		min-height: 625px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}
	}

	/* Communities Detail Claim Settlement Section */
	.claim-settlement-container {
		padding: 25px 50px;
		min-height: 289px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}
	}

	/* Communities Detail New Insurance Claim Section */
	.new-insurance-claim-container {
		padding: 25px 50px;
		min-height: 539px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}
	}

	/* Communities Detail Common Mistakes Section */
	.common-mistakes-container {
		padding: 25px 50px;
		min-height: 394px;

		.title {
			text-align: center;
			margin-bottom: @margin-5;

			span {
				color: @primary-color;
			}
		}

		.content {
			li {
				margin-left: 50px;
			}
		}
	}

	/* Communities Detail Group Help Section */
	.group-help-container {
		padding: 25px 50px;
		min-height: 310px;

		.title {
			text-align: center;
			margin-bottom: @margin-5;

			span {
				color: @primary-color;
			}
		}
	}

	/* Communities Detail Pending Insurance Claim Section */
	.pending-insurance-claim-container {
		padding: 25px 50px;
		min-height: 375px;

		.title {
			text-align: center;
			margin-bottom: 40px;

			span {
				color: @primary-color;
			}
		}
	}

	/* Communities Detail Help Any Stage Section */
	.help-any-stage-container {
		padding: 25px 50px;
		min-height: 865px;

		.title {
			text-align: center;
			margin-bottom: @margin-5;

			span {
				color: @primary-color;
			}
		}

		.content {
			li {
				margin-left: 50px;
			}
		}
	}

	/* Communities Detail Reopening Insurance Claim Section */
	.reopening-insurance-claim-container {
		padding: 25px 50px;
		min-height: 960px;

		.title {
			text-align: center;
			margin-bottom: 40px;

			span {
				color: @primary-color;
			}
		}

		.content {
			li {
				margin-left: 50px;
			}
		}
	}

	/* Communities Detail Rejected Insurance Claim Section */
	.rejected-insurance-claim-container {
		padding: 25px 50px;
		min-height: 407px;

		.title {
			text-align: center;
			margin-bottom: 40px;

			span {
				color: @primary-color;
			}
		}
	}

	/* Communities Detail Money Part Section */
	.money-part-container {
		padding: 25px 50px;
		min-height: 355px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}

		.content {
			li {
				margin-left: 50px;
			}
		}
	}

	/* Communities Detail Adjuster Coverage Section */
	.adjuster-coverage-container {
		padding: 25px 50px;
		min-height: 546px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}

		.content {
			li {
				margin-left: 50px;
			}
		}
	}

	/* Communities Detail Video Section */
	.video-container {
		padding: 0 50px;
		min-height: 396px;

		.content {
			span {
				font-weight: bold;
				color: @primary-color;
			}
		}
	}
}
