@import '../theme.less';

/* FAQ Intro Section */
.intro-container {
	padding: @section-padding;
	background-color: @section-background;
	min-height: 357px;

	.title {
		text-align: center;
		margin-bottom: 60px;

		span {
			color: @primary-color;
		}
	}
}

/* FAQ Hire Section */
.hire-container {
	padding: @section-padding;
	min-height: 656px;

	.title {
		text-align: center;
		margin-bottom: 60px;

		span {
			color: @primary-color;
		}
	}

	.ant-list {
		margin: 0 auto;
		width: fit-content;
	}
}
