@import '../theme.less';

.file-a-claim {
	/* File a Claim Intro Section */
	.intro-container {
		padding: @section-padding;
		background-color: @section-background;
		min-height: 566px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}

		.content {
			span,
			a {
				color: @primary-color;
				font-weight: 500;
			}
		}
	}
}
