@import '../theme.less';

.gallery {
	/* Gallery Grid Section */
	.gallery-grid {
		padding: @section-padding;
		background-color: @section-background;
		min-height: 503px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}
	}
}
