@import '../theme.less';

.home {
	/* Intro Section */
	.intro-container {
		padding: @section-padding;
		background-color: @section-background;
		min-height: 315px;

		.title {
			font-size: 35px;
			text-align: center;
			color: @primary-color;
		}
	}

	/* Ranked Section */
	.rank-container {
		padding: @section-padding;
		min-height: 355px;

		.rank-title {
			text-align: center;
			color: @primary-color;
		}

		.rank-text {
			display: inline-block;
		}
	}

	/* Tab Section */
	.tab-container {
		padding: @section-padding;
		background-color: @section-background;
		min-height: 580px;

		.ant-tabs-nav {
			margin-bottom: 48px;

			&::before {
				border: none;
			}

			.ant-tabs-tab {
				display: inline-block;
				margin: 0 72px;
				font-size: 24px;
				font-weight: 500;
				color: @text-color;
				transition: color 0.45s @ease-in-out;
				cursor: pointer;
			}

			.ant-tabs-ink-bar {
				height: 4px;
			}
		}

		.ant-tabs-content-holder {
			text-align: center;
			font-weight: 500;

			.tabpane-adjuster {
				.title-wrapper {
					h4 {
						color: @primary-color;
					}
				}

				.claims-wrapper {
					font-size: 19px;
					text-align: left;
					margin-top: 20px;
				}
			}

			.tabpane-winter {
				.title-wrapper {
					h4 {
						text-align: left;
					}
				}

				.claims-wrapper {
					text-align: left;
					font-size: 19px;
					margin-top: 20px;
				}
			}
		}
	}

	/* Inspection Form Section */
	.inspection-container {
		background-color: @section-background;
	}
}
