@import '../theme.less';

.how-to-become-adjuster {
	/* How To Become Adjuster Steps Section */
	.steps-container {
		padding: @section-padding;
		background-color: @section-background;
		min-height: 363px;

		.title {
			font-size: 34px;
			text-align: center;
			margin-bottom: 50px;

			span {
				color: @primary-color;
			}
		}

		.intro-p {
			margin-bottom: 50px;
			font-size: 20px;
		}

		.state-form {
			margin-bottom: 50px;

			.label {
				text-align: right;
			}

			.ant-select {
				width: 150px;
			}
		}

		.ant-steps {
			margin-bottom: 35px;
		}

		.ant-list-item {
			display: block;
		}
	}
}
