@import '../theme.less';

.our-services {
	/* Steps Section */
	.steps-container {
		padding: @section-padding;
		min-height: 525px;

		.steps-title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}

		.steps-content {
			width: 80%;
			margin: auto;

			.step-content {
				padding-top: @section-y;
				text-align: center;

				span {
					color: @primary-color;
				}
			}
		}
	}

	/* Our Services Section */
	.services-container {
		background-color: @section-background;
	}
}
