@import '../theme.less';

.policy-review {
	/* Policy Review Intro Section */
	.intro-container {
		padding: @section-padding;
		background-color: @section-background;
		min-height: 566px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}
	}

	/* Policy Review Form Section */
	.form-container {
		padding: @section-padding;
		min-height: 997px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}

		.content {
			.heading {
				margin-bottom: 55px;
				text-align: center;
			}
		}
	}
}
