@import '../theme.less';

.privacy-policy {
	/* Intro Section */
	.intro-container {
		padding: @section-padding;
		background-color: @section-background;
		min-height: 439px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}
	}

	/* Information use Section */
	.information-container {
		padding: @section-padding;
		min-height: 430px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}
	}

	/* Access information Section */
	.access-container {
		padding: @section-padding;
		background-color: @section-background;
		min-height: 414px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}
	}

	/* Security Section */
	.security-container {
		padding: @section-padding;
		min-height: 496px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}
	}

	/* Cookies Section */
	.cookies-container {
		padding: @section-padding;
		background-color: @section-background;
		min-height: 348px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}
	}

	/* Links Section */
	.links-container {
		padding: @section-padding;
		min-height: 323px;

		.title {
			text-align: center;
			margin-bottom: 60px;

			span {
				color: @primary-color;
			}
		}
	}
}
