@import '../theme.less';

.schedule-appointment {
	/* Schedule Appointment Intro Section */
	.intro-container {
		padding: @section-padding;
		background-color: @section-background;
		min-height: 503px;

		.title {
			text-align: center;

			span {
				color: @primary-color;
			}
		}

		.content {
			.appointment-btn {
				text-align: center;
				margin-top: 50px;
			}
		}
	}
}
