@import '../theme.less';

/* Appointment Section */
.appointment-container {
	padding: @section-padding;
	background-color: @section-background;
	min-height: 350px;

	.title {
		text-align: center;
		color: @primary-color;
	}

	.content {
		text-align: center;
		margin-top: 100px;
	}
}
