@import '../theme.less';

/* Appointment Section */
.appointment-container {
	padding: @section-padding;
	background-color: @section-background;
	min-height: 350px;

	.appointment-title {
		text-align: center;
		color: @primary-color;
	}
}
