html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.logo {
	display: flex;
	align-items: center;
	margin-right: 1rem;
	font-size: 1.25rem;
	white-space: nowrap;
	color: var(--primaryColor);
	justify-content: center;
}

.ant-btn-primary {
	background-color: var(--primaryColor);
}
