/* Section container */
.ant-layout {
	/* Header */
	.ant-layout-header {
		position: fixed;
		z-index: 1;
		width: 100%;

		/* Logo */
		.logo {
			float: left;
			width: 120px;
			height: 31px;
			margin: 16px 24px 16px 0;
			background: rgba(255, 255, 255, 0.3);
		}
	}

	/* Main content */
	.ant-layout-content {
		padding: 0 50px;
		margin-top: 64px;

		.site-layout-content {
			min-height: 280px;
			padding: 24px;
		}
	}
}
