@import '~antd/lib/style/themes/default.less';
@import './variables.less';

/* Colors */
@primary-color: #4676b6;
@success-color: #52c41a;
@error-color: #f5222d;
@warning-color: #faad14;
@white: #fff;
@black: #000;

/* Body */
@text-color: rgba(0, 0, 0, 0.65);
@text-color-secondary: rgba(0, 0, 0, 0.45);
@text-color-light: #ccc;
@text-color-light-secondary: #999;
@heading-color: rgba(0, 0, 0, 0.85);
@font-size-base: 16px;
@border-radius-base: 2px;

/* Link */
@link-color: #4676b6;

/* Border Color */
@border-color-base: #d9d9d9;

/* Disabled States */
@disabled-color: rgba(0, 0, 0, 0.25);

/* Shadow */
@box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
	0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

/* Layout */
@layout-body-background: #fdfdfd;
@layout-header-background: #fdfdfd;
@layout-header-padding: 0px;

/* Page Banner */
@banner-background: @layout-body-background;
@banner-background-gradient: #c1daff;

/* Button */
@btn-gradient-start: #50b0d6;
@btn-gradient-end: #4676b6;
@btn-shadow: #4676b6;

/* Sections */
@section-background: rgba(236, 244, 254, 0.5);
@section-background-dark: #001529;
@section-background-dark-1: #01376b;
