/* Utility classes */
.text-center {
	text-align: center;
}

.left {
	float: left;
}

.right {
	float: right;
}

.margin-auto {
	margin: auto;
}

.no-margin {
	margin: 0;
}

.inline {
	display: inline;
}
